@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

.globe-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

